<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Twitter API OAuth flow success</title>
</head>
<body>
  <main>
    <div id="root">
      <strong>Congratulations!</strong>
      <br>
      You are successfully logged in to Twitter using your application.

      <ul>
        <li>Access token: <%= accessToken %></li>
        <li>Access secret: <%= accessSecret %></li>
        <li>User ID: <%= userId %></li>
        <li>Username: @<%= screenName %></li>
      </ul>
    </div>
  </main>
</body>
</html>
