<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Something bad happened :(</title>
</head>
<body>
  <main>
    <div>
      <% if (typeof error !== 'undefined') { %>
        <%= error %>
      <% } else { %>
        We're sorry, but there's something wrong. Please check the logs.
      <% } %>
    </div>
    <div style="margin-top: 2rem;">
      <a href="/">Go home</a>
    </div>
  </main>
</body>
</html>
